h1{
    color:white;
    text-align:center;
    border:4px solid #332d33;
}
.str
{
    border: 5px solid #8a1905;
    width:58%;
    margin:0 auto;
   background-image: linear-gradient(
    #8e9eab,#eef2f3);
   

}
body{
    background-image: linear-gradient(
        #8e9eab,#eef2f3);
}
.str input
{
    padding: 5px;
    margin: 5px;
}
.img
{
   
    padding-left: 550px;
    background-color: aliceblue;

}
#name
{
    border:2px solid #190a50;
    margin-left:287px
}
#address
{
    border:2px solid #8a1905;
    margin-left: 287px;
}
#email
{
    border:2px solid #050016;
    margin-left:287px
}
#add
{
    border:2px solid #000501;
    margin-left: 287px;
}
#submit
{
    border:3px solid #610379
}
#reset
{
    border:3px solid #610397
}
*
{
    font-weight: bold;
}
[checkbox]
{
    color:#190a50
}
#transition
{
    margin-left:280px;
}
.str{
    height:100%;
}
