*
{
    background-image: linear-gradient(#870000, #190a05);
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;
    color: white;
    font-size: xx-large;
}
img
{
    margin-left:560px;
    
}
#change
{
    margin-left: 560px;
   font-size: large;
}
#name1
{
    margin-left: 150px;
}
#name2
{
    margin-left: 150px;
}
#city
{
    margin-left: 150px;
}
#state
{
    margin-left: 150px;
}
#country
{
    margin-left: 150px;
}
#pattern
{
    margin-left: 150px;
}
#pin
{
    margin-left: 150px;
}
#user
{
    margin-left: 150px;
}
#email
{
    margin-left: 150px;
}
#pass
{
    margin-left: 150px;
}
