*
{
    background-image: linear-gradient( #870000, #190a05);
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;
}
img
{
    margin-left: 560px;
}
p
{
    color: rgb(241, 235, 235);
    font-size: xx-large;
}